<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% block head %}
  <head>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
      <title>IAC</title>
    {% endblock %}
    <link rel="icon" href="{{url_for('static', filename='img/iacico.png')}}">
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='css/style7.css')}}" rel="stylesheet">
    <style>
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }
   </style>
  </head>
  {% endblock %}
  <body>
    <header>
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top shadow " style="background-color: #407dc0;">
      <div class="container-fluid">
        <a class="navbar-brand m-0 p-0" href="{{url_for('index')}}">
          <img src="{{url_for('static', filename="img/iac2.png")}}" style="height:50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 ">
            <li class="nav-item ">
              <a class="nav-link  text-light" href="{{url_for('disciplinas')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square mb-2 mx-2" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg> DISCIPLINAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-light" href="{{url_for('professores')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="mb-2 mx-2 bi bi-file-earmark-person" viewBox="0 0 16 16">
                  <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>PROFESSORES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-light" href="{{url_for('info')}}" tabindex="-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="mb-2 mx-2 bi bi-info-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>INFORMAÇÕES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    </header>

    <main>
    {% block content %}

    {% endblock %}
    </main>

    {% block footer %}
    <footer class="container-fluid color-default p-3">
      <div class="row">
        <div class="col-md-6">
          <img src="{{url_for('static', filename='img/ufvlogo.png')}}" alt="" style="height:50px">

        </div>
        <div class="col-md-6">
          <div class="row justify-content-end">
            <a class="text-light" href="#">Voltar ao topo <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="mx-2 bi bi-arrow-up-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
            </svg></a>
          </div>
        </div>
      </div>

    </footer>
    {% endblock %}

    {% block script %}
      <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    {% endblock %}
  </body>
</html>
