{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h1> Disciplinas </h1>
    <hr>

    <table class="table table-hover">
        <thead class="bg-light">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Carga horária</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ELT571</th>
            <td>Introdução à Inteligência Artificial e Computacional</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT572</th>
            <td>Linguagens de Programação para Inteligência Artificial</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT573</th>
            <td>Introdução ao Aprendizado Estatístico</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT574</th>
            <td>Aprendizado de máquina</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT575</th>
            <td>Aprendizagem Profunda</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT576</th>
            <td>Processamento Inteligente de sinais</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT577</th>
            <td>Empreendedorismo e Inovação usando Inteligência Artificial</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT578</th>
            <td>Análise de Imagens e Visão Computacional</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT579</th>
            <td>Tópicos especiais em Inteligência Artificial</td>
            <td>(45 horas)</td>
          </tr>
          <tr>
            <th scope="row">ELT500</th>
            <td>Encontros Presenciais</td>
            <td>(15 horas)</td>
          </tr>
        </tbody>
      </table>
  </div>
  <hr class="my-3">

<div class="my-5"></div>
{% endblock %}
