{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1 class="mt-5" > Professores </h1>
</div>

<hr class="my-3">

<div class="container">
  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="text-center">
        <img class="rounded" src="{{url_for('static', filename='img/leonardo.png')}}" alt="..." style="height:200px">
        <p class=" my-2">Email: <span class="text-muted">leobonato@ufv.br </span></p>
      </div>
    </div>
    <div class="col-md-8">
      <h5 class="featurette-heading">Leonardo Bonato Felix</h5>
      <p class="text-dark lead">Tem graduação (UFSJ, 2002), mestrado (UFMG, 2004)
      e doutorado(UFMG, 2006) também em Engenharia Elétrica. Foi pesquisador
      visitante da University of Southampton-UK (2019-2020). É professor do
      Departamento de Engenharia Elétrica da UFV (2006-presente), nas disciplinas
       de Inteligência Computacional, Sinais e Sistemas, Modelagem e Identificação
       de Sistemas, Introdução à Engenharia Biomédica, Eletrônica, etc.
       É pesquisador 1D CNPq, atuando no processamento de sinais biológicos,
       teoria da detecção e aplicações de inteligência artificial.</p>
    </div>
  </div>
  <hr class="my-3">

  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="text-center">
        <img class="rounded" src="{{url_for('static', filename='img/sabrina.png')}}" alt="..." style="height:200px">
        <p class=" my-2">Email: <span class="text-muted">sabrina@ufv.br </span></p>
      </div>
    </div>
    <div class="col-md-8">
      <h5 class="featurette-heading">Sabrina de Azevedo Silveira</h5>
      <p class="text-dark lead">É graduada em Ciência da Computação pela Universidade Federal de Minas
         Gerais (UFMG-2008) e tem doutorado em Bioinformática (2013). Possui
         pós-doutorado no European Molecular Biology Laboratory-European
         Bioinformatics Institute (EMBL-EBI), em Cambridge, no Reino Unido (2019),
         e no Laboratório de Bioinformática e Sistemas (LBS), do Departamento
          de Ciência da Computação da Universidade Federal de Minas Gerais (2015).
          Atualmente, é professora no Departamento de Informática (DPI),
          da Universidade Federal de Viçosa (UFV). É orientadora do Programa de
          Pós-Graduação em Ciência da Computação da UFV (CAPES 4) e do Programa
          de Pós-Graduação em Bioinformática da UFMG (CAPES 7). Tem experiência
          na área de Ciência da Computação e Bioinformática, atuando principalmente
          nos seguintes temas: predição de função de enzima, mineração de dados,
          aprendizagem de máquinas, bases de dados biológicos e visualização de dados.</p>
    </div>
  </div>
  <hr class="my-3">

  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="text-center">
        <img class="rounded" src="{{url_for('static', filename='img/moyses.jpg')}}" alt="..." style="height:200px">
        <p class=" my-2">Email: <span class="text-muted">moysesnascim@ufv.br </span></p>
      </div>
    </div>
    <div class="col-md-8">
      <h5 class="featurette-heading">Moysés Nascimento</h5>
      <p class="text-dark lead">Possui graduação em Estatística pela Universidade Federal do Espírito
        Santo (2007), mestrado em Estatística Aplicada e Biometria pela Universidade
         Federal de Viçosa (2009) e doutorado em Estatística e Experimentação
         Agropecuária pela Universidade Federal de Lavras (2011). Realizou pós-doutorado
          em Análise de dados Genômicos, via Métodos Econométricos, na North Carolina
          State University (EUA, 2016). Atualmente, é professor Associado no
          Departamento de Estatística da Universidade Federal de Viçosa. 
          Tem experiência na área de Probabilidade e Estatística Aplicada,
          com ênfase em Métodos Estatísticos Aplicados ao Melhoramento - Plantas e
           Animais, Inteligência Computacional e Aprendizado Estatístico.</p>
    </div>
  </div>
  <hr class="my-3">

  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <img class="rounded" src="{{url_for('static', filename='img/rodolpho.jpeg')}}" alt="..." style="height:200px">
        <p class=" my-2">Email: <span class="text-muted">rodolpho.neves@ufv.br</span></p>
      </div>
    </div>
    <div class="col-md-8">
      <h5 class="featurette-heading">Rodolpho Vilela Alves Neves</h5>
      <p class="text-dark lead">Possui graduação em Engenharia Elétrica pela Universidade Federal de
        Viçosa (2011), mestrado (2013) e doutorado (2018) em Engenharia Elétrica
        pela Universidade de São Paulo. Entre 2015 e 2016, foi pesquisador visitante
         na Aalborg University, Dinamarca. Atualmente, é professor adjunto no
         Departamento de Engenharia Elétrica da UFV. Atua principalmente nos
         temas geração distribuída e controle de sistemas de energia.</p>
    </div>
  </div>
  <hr class="my-3">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <img class="rounded" src="{{url_for('static', filename='img/Fabyano.jpg')}}" alt="..." style="height:200px">
        <p class=" my-2">Email: <span class="text-muted">fabyanofonseca@ufv.br</span></p>
      </div>
    </div>
    <div class="col-md-8">
      <h5 class="featurette-heading" >Fabyano Fonseca e Silva</h5>
      <p class="text-dark lead">É graduado em Zootecnia (UFLA, 2001) e tem mestrado (2003) e doutorado
        em Estatística (UFLA). Foi pesquisador da University of Wisconsin-USA
        (2008-2010); Universidad de Zaragoza-Espanha (2011); University of
        Wageningen-Holanda (2012). Atualmente, é Professor Associado IV, do
        Departamento de Zootecnia da UFV, desde 2013. Atua como Pesquisador 1A
        CNPq, nas áreas de  Ambientômica, Informações GIS e genômicas para  aaplicação na pecuária
    </div>
  </div>
  <hr class="my-3">

  </div><!-- /.container -->

<div class="my-5"></div>
{% endblock %}
